.read{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &_text_heading{
        color: $primary-color;
        font-size: 40px;
        line-height: 46px;
        letter-spacing: 0.02em;
    }

    &_text{
        padding: 0 142px;
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 51px;
        letter-spacing: 0.02em;
    }

    &_img{
        position: sticky;
        top: 190px;
    }
}
