.ticker {
    text-align: center;
}

.text{
    margin: 30px auto;
    max-width: 100%;
    overflow: hidden;
}

.text div{
    width: 100%;
    @include flex;
    animation: text 40s linear infinite;
}

@keyframes text {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
