.main_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  height: calc(100vh - 247px);

  &_link {
    font-size: 75px;
    transition: .3s;
    text-decoration: none;
    @include flex(center, center);
    text-transform: uppercase;
  }

  &_text_buy {
    @extend .main_grid_link;
    background-color: $primary-color;
    color: white;


    &:hover {
      color: black;
    }
  }

  &_text_read {
    @extend .main_grid_link;
    background-color: black;
    color: white;

    &:hover {
      color: $primary-color;
    }
  }
}



